@tailwind base;
@tailwind components;
@tailwind utilities;
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700; /* or any weight you like: 400-900 */
  font-style: normal;
}
